@import '../shared/variables.scss';
@import '../shared/mixins.scss';

.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include from($medium) {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  &__tilt {
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid color(primary);

    @include from($medium) {
      border-bottom: none;
      border-right: 10px solid color(primary);
    }
  }

  &__image {
    object-fit: cover;
    height: 50vh;

    @include from($medium) {
      height: 100vh;
    }
  }

  &__button {
    margin: auto;
    display: block;

    @include from($medium) {
      max-height: 50vh;
      justify-self: center;
      align-self: center;
    }
  }
}
